/*large devices not verified in @media, we just use this*/
	#map 
	{
    width: 1500px;
    height: 800px;
    background-color: #CCC;
    margin-left: auto;
    margin-right: auto;
	}

	.angulardata
	{
		font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
		font-size: 24px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 26.4px;
	}

	.table
	{
		overflow-y: hidden;
		height: 100%;
	}

	.nav
	{
		font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
		font-size: 24px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 26.4px;
	} 

/* very Small devices (tablets, 768px and down) */
@media (max-width:768px) {
	#map 
	{
    width: 400px;
    height: 250px;
    background-color: #CCC;
    margin-left: auto;
    margin-right: auto;
	}

	.angulardata
	{
		font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
		font-size: 16px;
		font-style: normal;
		font-variant: normal;
		font-weight: 250;
		line-height: 26.4px;
	}

	.table
	{
		overflow-y: hidden;
		height: 100%;
	}

	.nav
	{
		font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
		font-size: 16px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 13px;
	} 
}
/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	#map 
	{
    width: 500px;
    height: 300px;
    background-color: #CCC;
    margin-left: auto;
    margin-right: auto;
	}

	.angulardata
	{
		font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
		font-size: 16px;
		font-style: normal;
		font-variant: normal;
		font-weight: 250;
		line-height: 26.4px;
	}

	.table
	{
		overflow-y: hidden;
		height: 100%;
	}

	.nav
	{
		font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
		font-size: 16px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 13px;
	} 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {
	#map 
	{
    width: 800px;
    height: 500px;
    background-color: #CCC;
    margin-left: auto;
    margin-right: auto;
	}

	.angulardata
	{
		font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
		font-size: 18px;
		font-style: normal;
		font-variant: normal;
		font-weight: 300;
		line-height: 16px;
	}

	.table
	{
		overflow-y: hidden;
		height: 100%;
	}

	.nav
	{
		font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
		font-size: 18px;
		font-style: normal;
		font-variant: normal;
		font-weight: 325;
		line-height: 16px;
	}
}