/*large devices not verified in @media, we just use this*/
@media (min-width:1500px) {
		body 
	{ 
background: url(images/bg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
	}

	.jumbotron
	{
background: url(images/bg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
	
	}
	#map 
	{
    width: 55em;
    height: 40em;
    background-color: #CCC;
    margin-left: auto;
    margin-right: auto;
	}

	.angulardata
	{
		font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
		font-size: 24px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 26.4px;
		color: black;
	}

	.table
	{
		overflow-y: hidden;
		height: 100%;
		    width: 55em;
    height: 40em;
	}

	#slideShow
	{
	height: 100%;
	} 


}

/* very Small devices (tablets, 768px and down) */
@media (max-width:768px) {

		body 
	{ 
background: url(images/bg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
	}

	.jumbotron
	{
background: url(images/bg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
	
	}
	#map 
	{
    width: 10em;
    height: 10em;
    background-color: #CCC;
    margin-left: auto;
    margin-right: auto;
	}

	.angulardata
	{
		font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
		font-size: 16px;
		font-style: normal;
		font-variant: normal;
		font-weight: 250;
		line-height: 13px;
				color: black;
	}

	.table
	{
		overflow-y: hidden;
		height: 100%;
		    width: 10em;
    height: 10em;	}

	#slideShow
	{
	height: 30%;
	} 
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 992px) {
			body 
	{ 
background: url(images/bg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
	}

	.jumbotron
	{
background: url(images/bg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
	
	}
	#map 
	{
    width: 15em;
    height: 13em;
    background-color: #CCC;
    margin-left: auto;
    margin-right: auto;
	}

	.angulardata
	{
		font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
		font-size: 16px;
		font-style: normal;
		font-variant: normal;
		font-weight: 250;
		line-height: 14px;
				color: black;
	}

	.table
	{
		overflow-y: hidden;
		height: 100%;
		    width: 15em;
    height: 13em;
	}

	#slideShow
	{
	height: 40%;
	} 
}

/* Medium devices (desktops, 992px and up) */
@media (max-width:1200px) {
			body 
	{ 
background: url(images/bg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
	}

	.jumbotron
	{
background: url(images/bg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
	
	}
	#map 
	{
    width: 35em;
    height: 30em;
    background-color: #CCC;
    margin-left: auto;
    margin-right: auto;
	}

	.angulardata
	{
		font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
		font-size: 18px;
		font-style: normal;
		font-variant: normal;
		font-weight: 300;
		line-height: 16px;
	}

	.table
	{
		overflow-y: hidden;
		height: 100%;
		    width: 35em;
    height: 40em;
	}

	#slideShow
	{
	height: 100%*0.8;
	} 
}