#Home, #myapp{
	width: auto;
	height: auto;
	background-color: #CCC;
}
.navbar, .navbar-inverse{
margin-left: 1%;
}
#map{
        width: 1200px;
        height: 600px;
        background-color: #CCC;
        margin-left: auto;
        margin-right: auto;}

